name: release

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_run:
    workflows: [sync-upstream]
    types: [completed]

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for trusted publishing and npm provenance
    if: "!contains(github.event.head_commit.message, 'skip-release') && !contains(github.event.head_commit.message, 'skip-ci') && github.event_name != 'pull_request'"
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - name: node
        uses: actions/setup-node@v6
        with:
          node-version: lts/*

      - name: pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest

      - name: release
        run: pnpx semantic-release --branches main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
