name: sync-upstream

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: "0 0 * * *"

jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      # go output: version=1.0.0,bump=1
      - id: sync_info
        run: |
          result=$(go run ./cmd/sync_info)
          echo "$result" | tr ',' '\n' >> $GITHUB_OUTPUT

      - if: ${{ steps.sync_info.outputs.bump == 1}}
        name: setup pnpm
        uses: pnpm/action-setup@v4
        with:
          cache: true

      - if: ${{ steps.sync_info.outputs.bump == 1}}
        name: update remixicon
        run: pnpm up remixicon@latest

      - name: commit
        uses: EndBug/add-and-commit@v9
        with:
          message: "feat(upstream): auto sync remixicon to ${{ steps.sync_info.outputs.version}}"
          add: "package.json pnpm-lock.yaml"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
